:root {
    --primary-color: #dbd8cb;
    --secondary-color: hotpink;
    --background-color: #000;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "hero"
        "content";
    min-height: 100vh;
    box-sizing: border-box;
}

#header, #hero {
    width: 100vw;
}

/** Header**/

#header {
    background-color: #000;
    grid-area: header;
    padding: 10px 30px;
    height: 60px;
    display: flex;
    align-items: center;

}

.header-button {
    padding: 5px;
    background-color: var(--secondary-color);
    color: #000;
    border: none;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
}

.header-button:hover, .header-button:focus {
    background-color: var(--primary-color);
    transform: scale(1.1);
    outline: none;
    transition: transform 1s ease;
}

/** Hero **/
#hero {
    background-color: transparent;
    grid-area: hero;
    color: #fff;
    padding: 20px;
    text-align: center;
    height: 400px;
}

#hero h1 {
    font-size: 2rem;
    margin: 0;
}

#hero-content {
    width: 400px;
    border-radius: 12px;
    text-align: left;
    padding: 5px 10px;
}

.rating {
    border: 1px solid #FFF;
    padding: 3px;
}

@media screen and (max-width: 767px) {
    #hero {
        height: 200px;
    }
}

/** Content **/

#content {
    padding: 20px;
    grid-area: content;
    gap: 0;
    min-width: 368px;
}

.row-container {
    display: flex;
    overflow-y: auto;
    width: 100%;
}

.row-container::-webkit-scrollbar {
    width: 0.5em; /* Adjust the width as needed */
}

.row-container::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb */
}

.row-container::-webkit-scrollbar-track {
    background-color: transparent; /* Hide the track */
}

.square {
    min-width: 300px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
}

.square-title {
    padding: 5px;
}

.square:hover, .square:focus  {
    transform: scale(1.1);
    z-index: 2;
    outline: none;
    margin-left: 30px;
    transition: transform 1s ease;
}
